$green: #008751;
$greyBackground: rgb(24, 24, 24);
$shadow: 0px 15px 20px -15px rgba(17, 17, 17, 0.301);
$strongShadow: 0px 15px 20px -15px #111;
$transparentWhite: rgba(255, 255, 255, 0.87);
$transparentBlack: rgba(0, 0, 0, 0.658);
$border-bottom: 1px solid rgb(0, 0, 0);
$pageBackground: #f8f8f8;
