@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./topMenu";
@import "./subMenu";
@import "./page";
@import "./footer";
@import "./dropDownMenu";
@import "./news";
@import "./home";
@import "./activities";
@import "./archive";
@import "./variables";

* {
  margin: 0;
  padding: 0;
  font-weight: 500;
  max-width: 100vw;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: $green;
  path {
    stroke: $green;
  }
}

li {
  list-style-type: none;
}
.tribe-events {
  min-height: 70vh;
}
.translate {
  position: absolute;
  top: -5%;
  right: 0;
}
.underline {
  text-decoration: underline;
}

.headersWrap {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.tribe-events {
  padding-top: 15rem;
}
.tribe-events-single {
  padding-top: 15rem;
}
.wp-block-columns {
  text-align: start;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
  td {
    padding-bottom: 2rem;
  }
  h3 {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .wp-block-columns {
    padding-top: 0;
    padding-left: 0;
    td {
      padding-bottom: 0;
    }
  }

  .wp-block-column {
    padding: 1rem !important;
    margin: 0 !important;

    td {
      padding-bottom: 1rem;
      font-size: 0.8rem;
    }
  }
}
