.footWrapper {
  font-family: "Roboto", sans-serif;
  height: 20rem;
  background-color: black;
  display: grid;
  place-content: center;
  position: relative;
  img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 2rem;
  }
}

.footContainer {
  display: flex;
  flex-direction: row;
  width: 80vw;
  color: white;
  justify-content: space-between;
  ul {
    width: 20rem;
  }
  h5 {
    font-size: large;
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .footWrapper {
    height: 15rem;
    img {
      padding: 0;
    }
  }

  .footContainer {
    justify-content: space-around;
    width: 100vw;
    ul {
      width: 30%;
    }
    h5 {
      font-size: 0.8rem;
      padding-bottom: 0.5rem;
    }
    p {
      font-size: 0.6rem;
    }
  }
}
